<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Option </title>
</head>
<body>

    <form action="">

        <p> Are you a teacher or a student? </p>
        <input type="radio" name="ts" id="teacher" value="true">
        <label for="teacher"> Teacher </label>
        <input type="radio" name="ts" id="student" value="false">
        <label for="student"> Student </label>
        <input type="submit" onclick="submitOption(value)">

    </form>

    <script>
        function submitOption(value) {
            if (value == "true") {
                //save true in db
            }
            else {
                //save false in db
            }
        }
    </script>
    
</body>
</html>